<h2>Update Condition:</h2>
<form action="/pieces/<%=@piece.id%>/condition" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<p><input type="text" id="condition" name="condition" value="<%=@piece.condition%>"></p>
<p><input type="submit" value="update condition"></p>
</form>